{% extends "template.njk" %}

{% from "back-link/macro.njk" import govukBackLink %}

{% set htmlClasses = "app-html-class govuk-template--rebranded" %}
{% set htmlLang = "en" %}
{% set assetPath = "" %}
{% set themeColor = "blue" %}
{% set bodyClasses = "app-body-class" %}

{% block pageTitle %}
  {% if error %}{{ t("global:error.error") }}: {% endif %}
{% endblock %}

{% block headIcons %}
  {{ super() }}
{% endblock %}

{% block head %}
  <link href="style.css" rel="stylesheet" />
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    serviceName: t("layout:serviceName"),
    serviceUrl: "/"
  }) }}

  {% include "__partials__/nav-secondary.njk" %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block main %}
  <div class="govuk-width-container">
    {% if pageData.backLocation and not inEditMode %}
      {{ govukBackLink({
        "href": pageData.backLocation,
        "text": backLinkText or t("global:back")
      }) }}
    {% endif %}

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main">
      {% block content %}{% endblock %}
    </main>
  </div>
{% endblock %}

{% block bodyEnd %}
  <script src="/app.js"></script>
{% endblock %}
