{% from "service-navigation/macro.njk" import govukServiceNavigation %}
{{ govukServiceNavigation({
  navigation: [
    {
      href: routes.dashboard,
      text: "Home",
      classes: "govuk-service-navigation__link",
      active: currentPageUrl === "/",
      attributes: { "id": "nav-home" }
    },
    {
      href: routes.taskList,
      text: "Task List"
    },
    {
      href: "#",
      text: "Navigation item 3"
    }
  ]
}) }}
