<nav class="navigation-secondary govuk-!-margin-bottom-6" role="navigation">
  <ul>
    <li>
      <a href="{{ routes.dashboard }}" id="nav-home" class="{{ 'active' if currentPageUrl === routes.dashboard }}">Home</a>
    </li>
  </ul>
</nav>
